/* Write your CSS here */
.header-cont {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 5px 10px 5px 10px;
}
.non-selected {
  border: none;
}
.selected-but {
  border: 1px solid #0284c7;
  border-radius: 10px;
  color: #0284c7;
}
